language: python
sudo: true
cache: pip

python:
    - "2.7"

virtualenv:
    system_site_packages: true

env:
    global:
        - VERSION="8.0" TESTS="0" LINT_CHECK="0" 

    matrix:
        - LINT_CHECK="1"
        - TESTS="1" ODOO_REPO="odoo/odoo"

addons:
    apt:
        packages:
            - expect-dev  # provides unbuffer utility
            - python-lxml  # because pip installation is slow
            - python-simplejson
            - python-serial
            - python-yaml
              #       - wkhtmltopdf   # only add if needed and check the before_install section below

install:
    - git clone --depth=1 https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
    - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
    - travis_install_nigthly

script:
    - travis_run_tests

after_success:
    - travis_after_tests_success
